.logo{
    background-image:url("netprofit_logo2.jpeg") ;
    background-size: cover;
    /* height: 50px;
    width: 100%; */
    height: 100px;
    width: 250px;
    margin-left: 0%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0a0f24;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* padding: 40px; */
    gap: 40px;
}

.form-box {
    margin-top: 50px;
    width: 420px;
    background: #111729;
    padding: 35px;
    border-radius: 12px;
    
}

.tabs {
    display: flex;
    margin-bottom: 25px;
}

.tab {
    flex: 1;
    padding: 12px;
    background: #0b1321;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

.active-blue {
    background: #0a74ff;
}

.section-title {
    margin: 20px 0 10px;
}

.account-type {
    display: flex;
    gap: 12px;
}

.option {
    flex: 1;
    display: flex;
    align-items: center;
    background: #0b1321;
    /* padding: px; */
    border-radius: 10px;
    cursor: pointer;
    gap: 8px;
}

.option.selected {
    border: 2px solid #0a74ff;
}

.option p {
    margin-bottom: 5px;
    font-size: 12px;
    color: #c9d1d9;
}

.form-group {
    margin-top: 11px;
}

label {
    font-size: 14px;
}

input[type="email"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: none;
    border-radius: 8px;
    background: #0b1321;
    color: white;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.create-btn {
    width: 100%;
    margin-top: 25px;
    background: #0a74ff;
    border: none;
    padding: 12px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.google-btn,
.apple-btn {
    width: 100%;
    margin-top: 10px;
    background: white;
    color: black;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.hero-box {
    text-align: left;
    max-width: 450px;
}


.hero-image {

    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

.footer-text {
    font-size: 12px;
    opacity: 0.6;
    margin-top: 18px;
    line-height: 1.5;
}

.footer {
    margin-top: 50px;
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid #1b2238;
    color: #8a94ac;
    font-size: 14px;
}

.footer-links {
    margin-bottom: 12px;
}

.footer-links a {
    color: #8a94ac;
    margin: 0 15px;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    color: #ffffff;
}

.copyright {
    font-size: 13px;
    opacity: 0.7;
}

